/* FONTS */
@font-face {
	font-family: 'Chi Town';
	src: url('./fonts/chi-town/Chi-TownNF.otf') format('opentype');
}

@font-face {
	font-family: 'Jey';
	src: url('./fonts/jey/Jey.ttf') format('truetype');
}

@font-face {
	font-family: 'Ovo';
	src: url('./fonts/ovo/Ovo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Tex Gyre Termes';
	src: url('./fonts/tex-gyre-termes/texgyretermes-regular.otf') format('opentype');
}

@font-face {
	font-family: 'Tex Gyre Termes';
	src: url('./fonts/tex-gyre-termes/texgyretermes-bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'Tex Gyre Termes';
	src: url('./fonts/tex-gyre-termes/texgyretermes-italic.otf') format('opentype');
	font-style: italic;
}

@font-face {
	font-family: 'Tex Gyre Termes';
	src: url('./fonts/tex-gyre-termes/texgyretermes-bolditalic.otf') format('opentype');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Happy Campers';
	src: url('./fonts/happy-campers-nf/HappyCampersNF.otf') format('opentype');
}

@font-face {
	font-family: 'Semplicita Medium';
	src: url('./fonts/semplicita/Semplicita Medium.otf') format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: 'Semplicita';
	src: url('./fonts/semplicita/Semplicita Bold.otf') format('opentype');
	font-weight: bold;
}


@font-face {
	font-family: 'Semplicita Light';
	src: url('./fonts/semplicita/Semplicita Light.otf') format('opentype');
	font-weight: normal;
}


html>body {
  margin: 0;
  padding: 0;
  font-family: 'Semplicita Light' !important;
	font-size: 1.6rem;
}

hr {
	border-top: 2px solid rgba(0, 0, 0, 0.4);
}

@media (max-width: 991px) {
	body {
		font-size: 1.4rem;
	}
}

/* FOR XS AND SM SCREENS */
@media (max-width: 576px) {
	body {
		font-size: 1.2;
	}
}

/******* LANDING SECTION *******/

#landing {
	background-image: url(./pics/night-sky.jpg);
	background-size: cover;
	color: rgba(255,255,255,.9);
}

#landing-container {
	min-height: 80vh;
	padding-top: 20vh;
	padding-bottom: 10vh;
}

.title-moonlight {
	font-family: 'Chi Town', Arial, Helvetica, sans-serif;
	font-size: 13vw;
	margin-bottom: 0;
	height: 9vw;
}

.title-swing-orchestra {
	font-family: 'Jey', Verdana, Geneva, sans-serif;
	font-size: 9vw;
}

#play-button {
	font-size: 7vw;
	border-radius: 50%;
}

#play-button:hover {
	cursor: pointer;
    -webkit-filter: drop-shadow( 0px 0px 20px #fff ); 
            filter: drop-shadow( 0px 0px 20px #fff );
}

.tooltip-inner {
	border-radius: 200px;
	background-color: white;
	color: rgba(0,0,0,.8);
  font-family: 'Semplicita Medium', Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	padding: 0.6rem 1.2rem;
}

.tooltip>.arrow::before {
	border-bottom-color: white !important;
}

/* FOR XS AND SM SCREENS */
@media (max-width: 767px) {
	.title-moonlight {
		font-size: 18vw;
		height: 13vw;
		text-align: center;
	}

	.title-swing-orchestra {
		font-size: 13vw;
		padding-left: 8vw;
	}

	#play-button {
		font-size: 12vw;
	}
}

/******* INTRO SECTION *******/

#intro {
	background-color: #DFDAD5;
}

#intro-container {
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;
}

.intro-button {
	font-size: 1.5rem;
	font-family: 'Semplicita Medium', Arial, Helvetica, sans-serif;
	padding: 0.5rem 1rem;
}

/******* INFO SECTION *******/

#info {
	position:relative;
	padding-top: 7vh;
	padding-bottom: 10vh
}

#info::after {
	background-image: url('./pics/saxaphone-crop.jpg');
	background-size: 60% auto;
	background-position: -3% 70%;
	background-repeat: no-repeat;
	content:'';
	position: absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:100%;
	z-index:-1;
	opacity: 0.2; /* Here is your opacity */
}

#info-container {
	
}

.hi {
	font-size: 8rem;
	font-family: 'Semplicita Medium', Arial, Helvetica, sans-serif;
}

@media (max-width: 991px) {
	#info::after {
		background-size: 80% auto;
		background-position: -30% 70%;
	}
}
/* FOR XS AND SM SCREENS */
@media (max-width: 576px) {
	#info::after {
		background-size: 90% auto;
		background-position: -60% 70%;
	}
}


/******* MEMBERS SECTION *******/

#members {
	position:relative;
}

#members::after {
	background-image: url('./pics/music-notes.jpg');
	background-size: cover;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	content:'';
	position: absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:100%;
	z-index:-1;
	opacity: 0.1; /* Here is your opacity */
}

#members-container {
	padding-top: 10vh;
}

.sectional-title {
	font-family: 'Chi Town', Arial, Helvetica, sans-serif;
}

.caption-text {
	font-size: 1.3rem;
}

.first-word {
	font-size: 6rem;
	font-family: 'Chi Town', Arial, Helvetica, sans-serif;
	line-height: 1.6rem;
}

.mark-kunz-row {
	padding-top: 6vh;
	padding-bottom: 6vh;
}

.inline-music-link {
	border-bottom: 2px solid rgba(0,0,0,0.7);
	cursor:pointer;
	background: rgba(0,0,0,0.1);
}

.inline-music-link:hover {
	background: lightgrey;
}

.vocalists-title {
	font-family: 'Chi Town', Arial, Helvetica, sans-serif;
	font-size: 3.5rem;
	text-align: center
}

.vocalists-row {
	padding-top: 7vh;
}

.custom-rounded {
	border-radius: 30px
}

/******* MUSIC SECTION *******/
#music {
	padding-top: 7vh;
	padding-bottom: 7vh;
	position: relative;
	color: white;
	font-family: 'Semplicita Medium', Arial, Helvetica, sans-serif;
}

#music::after {
	background-image: 
	  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
	  url(./pics/glen-miller-record.jpg);
	background-size: cover;
	background-position: 0% 100%;
	background-repeat: no-repeat;
	content:'';
	position: absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:100%;
	z-index:-1;
	opacity: .95; /* Here is your opacity */
}

.music-list-button {
	font-size: 4rem;
}

.inline-light-link {
	cursor:pointer;
	background: rgba(255,255,255,0.2);
	color: white;
	text-decoration: underline;
}

.inline-light-link:hover {
	background: rgba(255,255,255,0.3);
	color: white;
}


/******* EVENTS SECTION *******/
#events {
	min-height: 70vh;
	padding-top: 7vh;
	padding-bottom: 20vh;
	background-image: url('./pics/events-bg.jpg');
	background-size: cover;
}

.event-button {
	margin-top: 5vh;
}


/******* CONTACT SECTION *******/
#contact {
	padding-top: 7vh;
	padding-bottom: 10vh;
	font-family: 'Semplicita Medium', Arial, Helvetica, sans-serif;
}